@font-face {
  font-family: "HelveticaNowText-Light";
  src: url("HelveticaNowText-Light/font.woff2") format("woff2"),
    url("HelveticaNowText-Light/font.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNowText-Bold";
  src: url("HelveticaNowText-Bold/font.woff2") format("woff2"),
    url("HelveticaNowText-Bold/font.woff") format("woff");
}

html {
  font-size: 10pt;
}

body {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  background-color: black;
  color: white;
  font-family: "HelveticaNowText-Light", sans-serif;
}

.ideenwerkstatt-logo {
  height: 4rem;
}

.container {
  padding: 30px 10px;
}

.center-container {
  position: relative;
}

.buzzwords {
  padding-top: 1em;
  line-height: 1.2em;
  font-size: 2.4rem;
}

.contact {
  font-size: 1.2em;
  margin-top: 2em;
  line-height: 1.2em;
}
.contact div {
  margin-top: 1em;
}

.shortlisted {
  position: absolute;
  bottom: 10rem;
  left: 19rem;
  height: 10rem;
}

.strong {
  font-family: "HelveticaNowText-Bold", sans-serif;
}

a {
  color: white;
}

a:hover {
  color: #9ACD32;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  html {
    font-size: 8pt;
  }
}
